.custom-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.branch-icon {
  height: 3rem;
  width: 3.15rem;
}
